- module: rabbitmq
  metricsets:
    - node
    - queue
    - connection
  enabled: true
  period: 10s
  hosts: ["localhost:{{ .Env.RABBITMQ_PORT}}"]
  username: {{ .Env.RABBITMQ_USERNAME }}
  password: {{ .Env.RABBITMQ_PASSWORD }}
